@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root{
    --text-color:#123;
    --upper-bg-color:#68EBB8;
    --border-color:#007D52 ;
     /* #009052 */
}



body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    /* color: #013c32; */
}


.container-1 , .container-2{
    /* border: 1px black solid; */
    width: 720px;
    height: 240px;
    font-family: 'Montserrat';
    font-weight: bolder;
    display: flex;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
}

.card  {
    box-sizing: border-box;
    border: var(--border-color) 3px solid;
    width: 226.6px;
    height: 226.6px;
    margin: 10px;
    border-radius: 6px;
}


.upper, p.time{
    /* border: 1px solid black; */

    font-size: 30px;
    padding: 0px;
    margin: 0px;
    background-color:var(--upper-bg-color);
}

.desc{
    font-size: 24px;
    margin: inherit;
    padding: inherit;
    font-weight:bolder;
}

p.time{
    padding-top: 10px;
    padding-bottom: 10px;
}

i{
   margin:15%;
   margin-bottom: 5%;
   font-size: 50px;
}


.line{
    border: 1px solid var(--border-color);
}